<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.asheransari.karachitour">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_streetview_black_48dp"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".national"></activity>
        <activity android:name=".clg"></activity>
        <activity android:name=".expo"></activity>
        <activity android:name=".hospital"></activity>
        <activity android:name=".islam"></activity>
        <activity android:name=".park"></activity>
        <activity android:name=".school"></activity>
        <activity android:name=".uni"></activity>
        <activity android:name=".water"></activity>
    </application>

</manifest>